* {
	margin:0px; 
	padding:0px;
	font-size: 100%;
}

a {
	color: #7D9EC0;
}

a img { border: none; }

body {
	background-color: #fff;
	color: #000;
	text-align: center;
	text-align:center;
	font-family: sans-serif, verdana;
}

h1 {
    font-size: 1.5em;
	margin: 1em 0;
}

h2 {
    font-size: 1.5em;
	margin: 1em;
}

td, th {
    padding: 0.5em;
}

ul li ul {
    margin-left: 3em;
}

ul.archive {
    list-style: none;
}

#main {
	width:900px;
	margin:20px auto 0px auto;
	text-align:left;
	position:relative;
}

#content {
    float: left;
}

#sidebar {
    width: 300px;
    float: right;
    /*background-color: #ff2;*/
}

.errors {
    margin: .5em;
    padding: 1.5em;
    border: 1px solid red;
    background-color: #FFC1C1;
}

.tags ul {
    padding: 0.5em 1.5em; 
}

.photo h2 {
    margin: 0 1em 1em 0;
}

.stream {
    clear: both; 
    overflow: hidden;
}
ul.stream { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
ul.stream li { 
    float: left; 
    padding: 10px; 
    height: 75px; 
    width: 75px;
    font-size: small; 
}

.album { 
    clear: both; 
    overflow: hidden;
}
.album ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
}
.album li { 
    float: left; 
    height: 260px; 
    width: 260px; 
    padding: 10px; 
    text-align: left; 
}
.album h4 { 
    overflow: hidden; 
}
.album p { 
    margin: 0; font-size: small; 
}


div.pagination-control {
	padding: 10px;
	border: 1px solid #DEDEDE;
}

div.pagination-control a {
	text-decoration: none;
}

div.pagination-control span.item {
	padding: 2px;
	border: 1px solid #DEDEDE;
}

div.pagination-control span.current {
	border: 1px solid #fff;
}


